<!--views / editTag.ejs-->
< !DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Tag</title>
        <!-- Add Bootstrap CDN in the head of your EJS files -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <h2>Edit Tag</h2>
        <form action="/tags/edit/<%= tag.id %>" method="POST">
            <input type="text" name="name" value="<%= tag.name %>" required>
            <button type="submit">Update Tag</button>
        </form>
    </body>

    </html>