<!-- views/manageComments.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Comments</title>
    <!-- Add Bootstrap CDN in the head of your EJS files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h2>Manage Comments</h2>
    <% comments.forEach(comment=> { %>
        <div>
            <p>
                <%= comment.content %>
            </p>
            <form action="/admin/comments/delete/<%= comment.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
        <% }) %>
</body>

</html>